body {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

table, th, td {
    border: 1px solid;
    height: 2em;
}

table {
    width: 50%;
    border-collapse: collapse;
    table-layout: fixed;
}

button {
    width: 100%;
    background-color: lightskyblue;
    border: none;
    padding: 0.1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    height: 2em;
}

td {
    padding: 0%;
}

td :hover {
    background-color: lightblue;
}

.func {
    font-weight: lighter;
    font-size: larger;
}